.container{
    text-align: center;
    box-shadow: 0 -5px 10px rgb(55, 55, 55, 0.5);
    background-color: var(--background-footer-color);
    width: calc(100vw - 17px);
    p{
        font-size: 16px;
        color: var(--footer-text-color);
        margin: 25px 0;
    }

    span{
        display: flex;
        gap: 25px;
        justify-content: center;
        a{
            margin:0;
        
            img{
                width: 30px;
            }
        }
    }
}