a{
    text-decoration: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 0 10px #000;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.logo{
    font-size: 32px;
    color: var(--text-color);
    font-weight: 700;
}
#menu{
    display: none;
}

label{
    cursor: pointer;
}

label img{
    width: 32px;
    filter: invert(100%);
}

.navbar{
    display: flex;
    position: fixed;
    right: -100%; 
    top: 75px;
    background: var(--background-nav-color);
    height: calc(100vh - 75px);
    width: 75%;
    flex-direction: column; 
    align-items: center;
    transition: right 0.2s linear;
}

#menu:checked ~ .navbar{
    right: 0;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: var(--text-color);
    font-weight: 500;
    padding: 40px 0;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.navbar a:hover{
    background: var(--background-color);
}

.navbar a::before{
    content: '';
    position: absolute;
    width: 0;
    top: 100%;
    left: 0;
    height: 2px;
    background: var(--text-color);
    transition: 0.3s;
}

.navbar a:hover::before{
    width: 100%;
}

@media (width >= 800px){
    label{
        display: none;
    }
    .navbar{
        display:inline;
        position: relative;
        right: 0; 
        top: 10px;
        background: none;
        height: 100%;
        width: fit-content;
        transition: right 0.2s linear;
    }
    .navbar a{
        padding: 0 30px;
        text-align: none;
    }
    .navbar a:hover{
        background: none;
    }
}